:root {
	--small_hr_padding: -0.5%;
	--big_hr_padding: -2%;
	--secondary: rgb(24, 24, 24);
	--main_block_color: rgb(36, 36, 36);
	--font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body {
	background-color: black;
	color: white;
	font-family: var(--font);
}
a, a:link, a:visited {
	text-decoration: none;
    color: cyan;
}
a:hover {
    color: rgb(134, 233, 234);
}
.coverer {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
	background-color: black;
	transition: background-color 1s ease-out;
	pointer-events: none;
}
.extern_links {
	font-size: 16pt;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 10px;
	line-height: 30px;
}
hr {
	color: white;
	width: 500px;
	transition: width 1s ease-out;
}
@media (min-width: 900px) {
	hr {
		margin-left: 100px;
		width: 500px;
		transition: width 1s ease-out;
	}
}
@media (min-width: 1300px) {
	hr {
		margin-left: 100px;
		width: 0;
		transition: width 1s ease-out;
	}
}
.standard_block {
	margin-left: 10px;
	margin-top: 75px;
	margin-bottom: 100px;
	font-size: 14pt;
	line-height: 30px;
	max-width: 755px;
}
.subblock {
	margin: 50px;
	margin-bottom: 10px;
	line-height: 30px;
	max-width: 900px;
	color: rgb(194, 194, 194);
}
.aligner {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
}
.wide {
	margin-top: -30px;
}
@media (min-width: 767px) {
	.extern_links {
		font-size: 16pt;
		margin-left: 100px;
		margin-top: 50px;
		flex-flow: row;
		gap: 20px;
		line-height: 30px;
	}
	.standard_block {
		margin: 150px;
		margin-top: 75px;
		margin-bottom: 100px;
		max-width: 755px;
	}
	.wide {
		margin-top: -30px;
		max-width: 1200px;
	}
	.subblock {
		margin: 50px;
		margin-bottom: 10px;
		font-size: 14pt;
		max-width: 900px;
	}
	.aligner {
		flex-flow: row-reverse;
		align-items: center;
		text-align: left;
	}
}
@media screen and (min-width: 767px) {
	.extern_links {
		font-size: 16pt;
		margin-left: 100px;
		margin-top: 50px;
		flex-flow: row;
		gap: 20px;
		line-height: 30px;
	}
	.standard_block {
		margin: 150px;
		margin-top: 75px;
		margin-bottom: 100px;
		max-width: 755px;
	}
	.wide {
		margin-top: -30px;
		max-width: 1200px;
	}
	.subblock {
		margin: 50px;
		margin-bottom: 10px;
		font-size: 14pt;
		max-width: 900px;
	}
	.aligner {
		flex-flow: row-reverse;
		align-items: center;
		text-align: left;
	}
}
h2, h3{
	color: white;
}
img {
	width: 241px;
	height: 128px;
	border-radius: 10px;
	margin-left: 3%;
	border: solid;
	border-width: 3px;
}
.vt_img {
	width: 180px;
	height: 180px;
	border-radius: 10px;
	margin-left: 0;
}
@media (min-width: 767px) {
	.vt_img {
		margin-left: 75px;
	}
}
li {
	margin-top: 15px;
}
.item {
	margin: 15px;
}
.subblock_categories {
	text-decoration: underline;
}
.li_el {
	display: flex;
}
.combined_list {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 39px;
}
@media (min-width: 1100px) {
	.li_el {
		flex-basis: 290px;
		flex: 1 0 5px;
		line-height: 32px;
	}
	.combined_list {
		height: 350px;
		padding-top: 26px;
	}
}
@media (min-width: 1300px) {
	.li_el {
		flex-basis: 290px;
		flex: 1 0 50px;
		line-height: 15px;
		margin-top: -3px;
	}
	.combined_list {
		padding-top: 39px;
		padding-bottom: 0;
		height: 350px;
	}
}

.contact {
	display: flex;
	text-align: center;
	flex-flow: column;
	align-items: center;
	margin-bottom: 50px;
	text-decoration: underline;
}